{% extends 'body.html' %}

{% block content %}
<form method="post" action=".">
    <div class="card card-default">
        <div class="card-header">
            <h3 class="card-title">
                <i class="fas fa-plus"></i>
                {{ title }}
            </h3>
        </div>
        <div class="card-body">
            {% csrf_token %}
            <input type="hidden" name="accion" value="{{accion}}">

            {% if form.errors %}
        </div>
        {% endif %}
    </div>
    <div class="alert alert-danger alert-dismissible">
        <h5><i class="icon fas fa-ban"></i>¿Seguro que quiere eliminar el registro {{ object.impresora_id }}</h5>
    <div class="card-footer">
        <button type="submit" class="btn btn-primary btn-flat">
            <i class="fas fa-save"></i> Si, aceptar
        </button>
        <a href="{{ list_url }}" class="btn btn-info btn-flat">
            <i class="fas fa-times"></i> Cancelar
        </a>
    </div>
    </div>
</form>
{% endblock %}